[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aiofiles = "*"
aiohttp = "*"
aiologger = "*"
aiosmtplib = "*"
aiosqlite = "*"
appdirs = "*"
beautifulsoup4 = "*"
dataclasses-json = "*"
discord = {py = "*"}
html5lib = "*"
orm = "==0.1.5"
typing-extensions = "*"
tzlocal = "*"
pypandoc = "*"
pyppeteer2 = "*"
pytz = "*"
PyYaml = "*"

[dev-packages]
pylint = "*"
sphinx = "*"
sphinx-markdown-builder = "*"
rinohtype = "*"
yapf = "*"

[requires]
python_version = "3.8"

[scripts]
lint = "bash -c \" pylint --max-line-length 120 src setup.py  \""
ci = "bash -c \"(cd docs && make clean && make html) && yapf -ir . && pylint --max-line-length 120 src setup.py  \""
run = "python setup.py"
